<ng-container>
    <div class="transaction-widget">
        <ng-container>
            <div class="transaction-widget-titlebar d-flex justify-content-center py-2">
                <span class="self-align-center"  i18n="@@transaction-widget.title.recentTransactions">Recent Transactions</span>
            </div>
        </ng-container>
        
        <ng-container>
            <div class="transaction-widget-body">
                <ng-container>
                    <div class="transaction-widget-controls d-flex justify-content-between pb-2">
                        <div>
                            <input #searchInput type="search"  placeholder="Search by typing" i18n-placeholder="@@transaction-widget.fiter.search.placeholder" (input)="onSearchChange(searchInput.value)">
                            <span *ngIf="searchInput.value" (click)="searchInput.value='';onSearchChange(searchInput.value)">x</span>
                            
                        </div>

                        <div class="d-flex">
                            <span class="align-self-center mr-2" i18n="@@transfer.title.recentTransactions" i18n="@@transaction-widget.fiter.sortby.label">Sort by</span>
                            <div class="transaction-widget-controls-sortbuttons d-flex">
                                <div (click)="sortByDate()"> 
                                    <span i18n="@@transaction-widget.fiter.date.label">Date</span>
                                    <i class="transaction-widget-controls-sortbuttons-icon arrow" [ngClass]="(sortOrderDsc)?'down':'up'" *ngIf="sortType === 'DATE'"></i>
                                </div>
                                <div (click)="sortByBeneficiary()"> 
                                    <span i18n="@@transaction-widget.fiter.beneficiary.label">Beneficiary</span>
                                    <i class="transaction-widget-controls-sortbuttons-icon arrow" [ngClass]="(sortOrderDsc)?'down':'up'" *ngIf="sortType === 'BENEFICIARY'"></i>
                                </div>
                                <div (click)="sortByAmount()"> 
                                    <span i18n="@@transaction-widget.fiter.amount.label">Amount</span>
                                    <i class="transaction-widget-controls-sortbuttons-icon arrow" [ngClass]="(sortOrderDsc)?'down':'up'" *ngIf="sortType === 'AMOUNT'"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>


                <ng-container *ngIf="list">
                    <div class="transaction-widget-list container">
                        <div *ngFor="let transaction of list">
                            <pt-trasaction-item-ui [transaction]="transaction"></pt-trasaction-item-ui>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>

    </div>
</ng-container>
