.transaction-widget {
    background-color: white;
    width: 100%;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 3px grey;
    border: grey slategrey 1px;
}

.transaction-widget-body {
    padding: 1rem!important;
}

.transaction-widget-titlebar {
    background-color: teal;
    color: white;
    background-image: url("../../../assets/icons/briefcase.png");
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-position-y: 50%;
    background-position-x: 15px;
}


.transaction-widget-controls-sortbuttons div {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 16px;
    padding-left: 16px;
    
    border-top:lightgray solid 1px;
    border-bottom:lightgray solid 1px;
    border-left:lightgray solid 1px;

    cursor: pointer;
    text-transform: uppercase;
}

.transaction-widget-controls-sortbuttons div:last-child {
    border-right:lightgray solid 1px;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgrey;
    
  }



  .arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .transaction-widget-controls-sortbuttons-icon {
      margin-left: 5px;
  }