<ng-container>
  
  <div class="bg">
    <nav class="navbar d-flex" role="banner">
        <img class="navbar-logo"src="../assets/logo.jpg">
    </nav>
    
    <div class="main-area d-flex">
    
      <div class="transfer-widget-container">
        <pt-transfer-widget (updateSignal)="onSignal($event)"></pt-transfer-widget>
      </div>
      <div class="ml-4 transaction-widget-container">
        <pt-transaction-widget [updateHeartbeat]="$updateHeartbeat"></pt-transaction-widget>
      </div>
    
    </div>

  </div> 
</ng-container>

