
.bg {

    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
   
  }
  
.navbar {
    height: 50px;
    border-bottom: orange solid 2px;
    margin-bottom: 50px;
    background-color: white;

}
.navbar-content {
    width: 60%;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.navbar-logo {
    height:100%;
}

.main-area {
    width: 70%;
    margin: 0 auto;
    display: block;
}

.transfer-widget-container {
    width: 30%;
}

.transaction-widget-container {
    width: 100%;
 }

 input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }