<ng-container>
<div  class="transfer-widget">

    <ng-container>
        <div class="transfer-widget-titlebar d-flex justify-content-center py-2">
            <span class="self-align-center" i18n="@@transfer.title.transfer">Transfer</span>
        </div>
    </ng-container>


    <div class="transfer-widget-body"> 
        <div class="transfer-widget-form" *ngIf="!formSubmited">
            <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        
                <div class="transfer-widget-form-input">
                    <label i18n="@@transfer.fromaccount.label">From Account:</label>
                    <input type="text"  formControlName="fromAccount">
                </div>
                
                
                <div class="transfer-widget-form-input">
                    <label i18n="@@transfer.toaccount.label">To Account:</label>
                    <input type="text"  formControlName="toAccount" required>
                </div>
        
                <div class="transfer-widget-form-input">
                    <label i18n="@@transfer.amount.label">Amount:</label>
                    <div>
                        <input type="number"  formControlName="amount"  placeholder="$ 0.00" (keypress)="noSigns($event)" required>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn submit-button" [disabled]="!transferForm.valid" i18n="@@transfer.submit.button">Submit</button>
                </div>
        
            </form>
        </div>

        <div class="transfer-widget-review" *ngIf="formSubmited">
            
        
                <div class="transfer-widget-review-field">
                    <label i18n="@@transfer.fromaccount.label">From Account:</label>
                    <div class="transfer-widget-review-value">{{fromAccountData()}}</div>
                </div>
                
                
                <div class="transfer-widget-review-field">
                    <label i18n="@@transfer.toaccount.label">To Account:</label>
                    <div class="transfer-widget-review-value">{{ submitedToAccount}}</div>
                </div>
        
                <div class="transfer-widget-review-field">
                    <label i18n="@@transfer.amount.label">Amount:</label>
                    <div class="transfer-widget-review-value">{{ submitedAmount | currency:'USD'}}</div>
                    
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn cancel-button" (click)="onCancel()" i18n="@@transfer.cancel.button">Cancel</button>
                    <button type="submit" class="btn submit-button" (click)="onConfirm()" i18n="@@transfer.transfer.button">Transfer</button>
                </div>

        </div>
    </div>
    
</div>

</ng-container>


