.transfer-widget {
    background-color: white;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 3px grey;
    border: grey slategrey 1px;
}

.transfer-widget-titlebar {
    background-color: teal;
    color: white;
    background-image: url("../../../assets/icons/arrows.png");
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    background-position-y: 50%;
    background-position-x: 15px;
}

.transfer-widget-body {
    padding: 1rem!important;
}

.transfer-widget-form-input{
    padding-bottom: 8px;
}

.submit-button{
color: #fff;
background-color: rgb(226, 90, 44);
border-color: orange;
width: 70%;
}

.cancel-button {
    color: orange;
    background-color: transparent;
    border-color: orange;
    width: 70%;
    margin-right: 5px;
}



input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgrey;
    width: 100%;
  }

.transfer-widget-review-field {
    padding-bottom: 8px;
}

.transfer-widget-review-value {
    color: gray;
}