img {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.responsive {
    width: 100%;
    max-width: 50px;
    height: auto;
  }

.transaction-item-category {
    padding: 4px;
}

.transaction-widget-list-item {
    border: lightgray solid 2px;
    border-left-width: 4px;
    border-left-style: solid;
    padding: 4px;
}