<ng-container *ngIf="transaction">
    <div class="transaction-widget-list-item row align-items-center" [ngStyle]="{'border-left-color': transaction.categoryCode}">
        <div class="transaction-item-date  col-2">
            {{ transaction.transactionDate | date:"MMM dd" }}
        </div>
        <div class="transaction-item-image  col-2">
            <img class="responsive" src="{{ transaction.merchantLogo }}">
        </div>
        <div class="transaction-item-description col-6">
            <div>{{ transaction.merchant }}</div>
            <div>{{ transaction.transactionType }}</div>
        </div>  
        <div class="transaction-item-amount right col-2">
            -{{ transaction.amount | currency:'USD'}}
        </div>
    </div>
</ng-container>

